#ant specific
dist/
build/

#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

#idea specific
idea
.idea/
*.iml
*.ipr
*.iws

# maven
target/

#general swap/backup/script files
*.so
*.log
*.log.lck
*.out
*~
*.swp
*.DS_Store
*.lock
*.sh
.directory


# texts folder for input/output texts
texts/

# exported csv
*.csv

#ignore 7z that i use for compression of CSVs
*.7z

#ignore output files of python script for elki
MUC3_python/elki_distance_matrix.txt
MUC3_python/elki_text_ids.txt
MUC3_python/ground_truth_clusters.txt
elkiout/

# for symlink:
elkiout

# directory for 20 newsgroups dataset data
20NG_data/

# Python cache
__pycache__/